
*{
    margin:0;
    padding: 0;
    box-sizing :border-box;
    font-family: "Poppins", sans-serif;
}

.main{
    position: relative;
    width:100%;
}

.logo{
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
}

.header{
    position: relative;
    top:0;
    left: 0;
    width: auto;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
   
}

.header ul{
    position: relative;
    display: flex;
}

.header ul li{
    list-style-type: none;
    position: relative;
}

.header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    cursor:pointer;

}

.search-container {
    float: left;
  }
  .search-container input{
      padding: 6px;
      border-radius: 5px;
      border-color: #e6e6e6;
      height: 30px;
      width: 100%;
      align-items: center;
      
  }

  .banner{
      position: relative;
      overflow: hidden;
      background-color: #e9e9e9;
      margin: 0;
    
  }

.banner ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 100px 0 100px;
    overflow: hidden;
    background-color: #333;
  }
  
  .banner li {
    float: left;
  }
  
 .banner li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.banner li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .image img{
      width: 100%;
      height: 450px;
      object-fit: cover;
      filter: blur(2px);
  -webkit-filter: blur(2px);
  }

  
.features {
    background: #fff;
    display: flex;
    box-sizing: border-box;
    margin: 0% 10%;
    padding: 20px 2%;
    width: auto;
    -webkit-box-shadow: 0 6px 5px -7px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0 6px 5px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0 6px 5px -7px rgb(0 0 0 / 75%);
}

.f1{
    width: 30%;
    height: 40px;
}

.enquire{
    display: block;
    margin: 5% 10%;
}

.t1{
    font-size: 30px;
    font-weight: bold;
    margin: 0 1%;
}

.b1{
    background-color: #009cdd;
    padding: 1% 2%;
    border: none;
}

.main-card{
    display: flex;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 1% 01%;
    width: 100%;
    border-radius: 5px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 8% 8%;
  }
  br{
      color: #111;
  }
  .price{
      float: right;
      margin: 5%;
  }

  .main-about{
    background-image: url(wall.jpg);
    -webkit-backdrop-filter: blur(5px);
backdrop-filter: blur(5px);
  }
  .about{
      display: flex;
      padding: 5% 5%;
      color: white;
      width: 100%;
     backdrop-filter: blur(20px);
  }
  .intro{
      margin: 0 5%;
     
  }
  .intro a{
      font-size: 35px;
      margin: 0% 0 5% 0;
  }
  .intro p{
      margin: 5% 0 0 0;
  }
  .read{
      margin: 5% 0 0 0;
      background: #1b5384;
      font-size: 15px;
    color: #fff;
    text-decoration: none;
    padding: 15px 40px;
    border: none;
  }

  .video{
      width: 100%;
  }

  .video img{
      width: 100%;
  }

  .form{
      margin: 5% 10%;
      display: flex;
  }

  .enquiry{
    width: 100%;
    margin: 0 10% 0 0%;
  }

  .enquiry a{
    font-size: 30px;
    padding-bottom:3% ;
  }

  .enquiry p{
      margin-top: 3%;
  }

  .fill{
      width: 100%;
  }




  
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  .footer{
      bottom: 0;
      background-color: #009cdd;
      height: 30%;
      display: flex;
      padding: 2% 4%;
      width: 100%;
      justify-content: space-between;
  }
  .num{
      float: right;
  }
